<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Admins
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> Admins
                </li>
            </ol>
            <div class="alert alert-warning" role="alert" *ngIf="error">
                {{error}}
            </div>
            <div class="alert alert-info" role="alert" *ngIf="message">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <data-table [items]="admins" [itemCount]="admins.length" (reload)="reloadAdmins()" [pagination]="false" [indexColumn]="false" [selectColumn]="true" [multiSelect]="true">
                <data-table-column property="name" header="Name" sortable="true">
                </data-table-column>
                <data-table-column property="picture" header="Picture" sortable="false">
                    <template #dataTableCell let-item="item">
                        <img class="profile-pic img-thumbnail" [src]="item.picture" />
                    </template>
                </data-table-column>
                <data-table-column property="email" header="Email">
                </data-table-column>
                <data-table-column property="eventMail" header="Drishti Email">
                </data-table-column>
                <data-table-column header="Role">
                    <template #dataTableCell let-item="item">
                        {{getStatus(item.status)}}
                    </template>
                </data-table-column>
                <data-table-column header="Actions">
                    <template #dataTableCell let-item="item">
                        <button type="button" class="btn btn-info btn-sm" (click)="view(item.id)"><i class="fa fa-pencil"></i> Edit</button>
                    </template>
                </data-table-column>
            </data-table>
        </div>
    </div>
    <div class="row" *ngIf="admin">
        <div class="col-md-12">
            <form role="form">
                <fieldset class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" [(ngModel)]="admin.name" name="name" />
                </fieldset>
            </form>
            <button class="btn btn-info">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</div>
