<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Event Registration
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Event Registration
                </li>
            </ol>
            <div class="alert alert-warning" role="alert" *ngIf="error">
                {{error}}
            </div>
            <div class="alert alert-info" role="alert" *ngIf="message">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row" layout-align="center center">
        <div class="col-sm-5">
            <form class="form-horizontal" (ngSubmit)="getRegistered()">
                <div>
                    <input [(ngModel)]="selectedEvent" name="selectedEvent" ng2-auto-complete [source]="eventList" [list-formatter]="autocompleListFormatter" value-property-name="id" display-property-name="name" placeholder="Event Name" class="form-control">
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
        <div class="col">
            <ul class="list-group">
                <div *ngFor="let student of registeredStudents">
                    <li class="list-group-item">
                        {{student.name}}
                        <ul class="list-group">
                            <li class="list-group-item"><a href="mailto:{{student.email}}">{{student.email}}</a></li>
                            <li class="list-group-item"><a href="tel:{{student.phone}}">{{student.phone}}</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>