/* You can add global styles to this file, and also import other style files */

.google-login{
	background: #d9534f !important
}

.facebook-login{
	background: #0275d8 !important
}
.profile-pic{
	width: 50px;
}
.img-thumbnail.img-event{
	display: block;
    max-width: 300px;
    margin: 1em auto;
}